
.navigation{
    position: fixed;
    top:20px;
    left: 20px;
    width:250px;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
    border: 1px solid #CCCCCC;
}

.article{
    width: 1040px;
    margin-left: 300px;
    top:20px;
    padding: 50px;
    border: 1px solid #CCCCCC;
}

.clearBoth {
    clear: both;
}

